body {
    font-family: 'Gothic A1', sans-serif;
}

#logo {
    height: 100px;
    width: 70px;
    padding: 5px 5px 5px 5px;
}

#mobile_nav {
    display: none;
}

#mobile_icon {
    height: 150px;
    width: 150px;
}

#head_text {
    font-weight: bold;
}

.uk-slideshow-items h2{
    font-family: 'Gothic A1', sans-serif;
    color: white;
    text-shadow: 0 0 30px gray;
}


.uk-slideshow-items h1 {
    font-family: 'Gothic A1', sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 30px gray;
}

#left {
    color: #f9f9f9;
}

#right {
    color: #f9f9f9;
}

#intro {
    font-family: 'Gothic A1', sans-serif;
    background-color: #f9f9f9;
    vertical-align: center;
    text-align:center; 
    color: black;
}

#intro h2 {
    padding-top: 50px;
    margin-bottom: -10px;
    font-family: 'Gothic A1', sans-serif;
}

.subs {
    font-size: 25px;
}

.uk-description-list {
    padding: 10% 10% 10% 10%;
}

@media (min-width: 1000px) {
    #slides {
        padding: 30px 60px 30px 60px;
    }

  }

#slides div{
    padding: 50px 15px 15px 15px;

}

#slides {
    vertical-align: center;
    text-align:center; 
}

#slides img {
    padding-bottom: 25px;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait) {

        #slides {
            padding: 30px 0px 30px 0px;
        }

     }

     /* iphones 6, 7,8 portrait */
@media only screen 
     and (min-device-width : 375px) 
     and (max-device-width : 667px) 
     and (orientation : portrait) {
        
    }  
    
 @media only screen and (max-width: 900px) {
        #desktop_nav {
            display: none;
        }

        #mobile_nav {
            display: inline;
        }
      }    

#footer {
    background-color: rgb(51, 51, 51);
    height: 430px;
    color: #f9f9f9;
}

#footer p {
    font-size: 13px;
}

.social_icons {
    height: 35px;
    width: 35px;
}
